body{
  background-color: #de91fa;  
}
.header_div{
    background-color: rgb(201, 211, 221);
    color:maroon;
    font-family: 'Playfair Display', serif;
   
}
.header_div img{
    width:100px;
    border-radius: 30px;
    border: 3px solid midnightblue;
    padding:5px;

}

.main_div{
    background-color: rgb(105, 245, 203);
    padding:10px;
    margin-top: 15px;
    border:3px solid white;
}
.main_div label{
    background-color: blueviolet;
    width:310px;
    padding:10px;
    margin-bottom:0px;
    box-shadow: 5px 5px 18px rgb(27, 27, 27);
    color:white;
}
#camera, #result{
    border:2px solid maroon; 
    width:310px;
    height:300px;
    box-shadow: 5px 5px 18px rgb(27, 27, 27);
    margin:10px;

}
.main_div button{
    width:200px;
    font-size:18px;
    box-shadow: 5px 5px 18px rgb(27, 27, 27);
    border:2px solid 
}
.footer_div{
    margin-bottom: 50px;

}
.footer_div h4{
    background-color: lightgray;
    border-radius: 10px;
    padding:5px;
    box-shadow: 5px 5px 18px rgb(27, 27, 27);
}
.footer_div img{
    width:70px;

}
.copyright{
    background-color:rgb(201, 211, 221);
    position:fixed;
    color:maroon;
    bottom:0;
    width:100%;
    line-height:3;
    
}